body {
    background-color: lightblue;
}

#yolo {
    width: 200px;
}

#funnyMonkey {
    width: 500px;
}

.fancyImg {
    border-radius: 10px;
    border: 5px solid lime;
}

ul > button, th {
    font-size: 36px;
}